body{
  background: var(--bg05);
}

.user__info__container{
  box-sizing: border-box;
  background-color: var(--bg03);

  display: flex;
  gap: 1rem;
  padding: 1.5rem;
  justify-content: space-evenly;
}

.user__image{
  width: 5rem;
  border: solid var(--green) 2px;
  border-radius: 20px;
  padding: .2rem;
}

.user__info{
  width: 80%;
}

.user__info__name{
  color: var(--darkGray);
  display: inline-block;
  line-height: 2rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.header__config{
  position: absolute;
  right: 1.5rem;
  vertical-align: middle;
  transition: .8s transform;
}

.user__info__status{
  display: block;
  background-color: transparent;
}

.user__info__status:focus-visible{
  outline: none;

}

.user__info__message{
  box-sizing: border-box;
  background-color: white;
  border-radius: 40px;
  
  color: var(--darkGray);
  font-size: .8rem;
  font-weight: 300;
  
  margin-top: .5rem;
  padding: .2rem .3rem;
  padding-left: 1rem;
  width: 100%;
}

.user__info__message::placeholder{
  color: var(--darkGray);
  text-align: center;
}

.contacts{
  margin: 1.5rem;
}

.contacts__category{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.contacts__category__arrow{
  width: .6rem;
  transform: rotate(-30deg);
  cursor: pointer;
}

.contacts__category__arrow--active{
  transform: none;
} 

.contacts__category__tittle{
  color: var(--darkGray);
  font-weight: 500;
}

.contacts__category__tittle--favourite::before{
  content: '';
  background-image: url(../assets/images/star.png);
  background-size: 1rem;
  background-repeat: no-repeat;
  
  display: inline-block;
  vertical-align: baseline;
  
  margin-right: .2rem;
  height: 1rem;
  width: 1rem;
}




.contacts__online{
  margin-top: 1.5rem;
}

.contact__info__container{
  box-sizing: border-box;
  
  display: flex;
  gap: 1rem;
  
  margin-top: .8rem;
  justify-content: space-evenly;
}

.contact__image{
  box-sizing: border-box;
  width: 2.5rem;
  height: 2.5rem;
  border: solid var(--red) 2px;
  border-radius: 10px;
  padding: .2rem;
}

.contact__image--dev{
  padding: 0;
}

.contact__info{
  margin-top: .3rem;
  width: 100%;
}

.contact__info__name{
  color: var(--darkGray);
  display: inline-block;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.contact__info__status{
  margin-left: .3rem;
  display: inline-block;
  color: var(--red); 
  font-size: .8rem;
  font-weight: 300;
}

.contact__info__status::before{
  content: '(';
}
.contact__info__status::after{
  content: ')';
}

.contact__info__message{
  color: var(--darkGray);
  margin-top: .5rem;
  font-size: .8rem;
  font-weight: 300;
}

.display--hide{
  display: none;
}

.status__online{
  color: var(--green);
  border-color: var(--green);
  letter-spacing: .8px;
  font-weight: 900;
  -webkit-text-stroke: .2px var(--darkGray);
}

.status__busy{
  color: var(--red);
  border-color: var(--red);
  letter-spacing: .8px;
  font-weight: 900;
  -webkit-text-stroke: .2px var(--darkGray);
}

.status__absent{
  color: var(--yellow);
  border-color: var(--yellow);
  letter-spacing: .8px;
  font-weight: 900;
  -webkit-text-stroke: .2px var(--darkGray);
}