:root{
  --darkGray: #5e75ab;
  --lightGray: #8695b4;
  --darkBlue: #1248a5;
  --bg01: #fafafa;
  --bg02: #d0ddef;
  --bg03: #f7f7fc;
  --bg04: #f5f2f6;
  --bf05: #fcf9fd;

  --green: #029F00;
  --red: #FF3F00;
  --yellow: #FFBF00;
  --blue: #009FFF;


  --roboto: 'Roboto', sans-serif;


}